
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Info</h1>
    <br>
    <h5>Created by.NeOn Base Exam System ASP.NET CORE MVC</h5>
</div>