<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>@ViewData["Title"] - Admin Paneli</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light text-center justify-content-center" style="background-color: #e3f2fd;">
            <a class="navbar-brand text-dark fw-bold text-md-center" asp-area="MenegerPanel" asp-controller="Home" asp-action="AdminPanel">Admin Panel</a>
            <button type="button" class="btn btn-danger">Çıkış</button>
        </nav>
    </header>
    
    <div class="container-md">
        <div class="row">
            <div class="col-3 border-3 border-primary">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        İşlem Seçiniz
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a class="navbar-brand text-dark fw-bold text-md-center" asp-area="MenegerPanel" asp-controller="Home" asp-action="SoruEkle">Soru Ekle</a>
                        </li>
                        <li class="list-group-item">
                            <a class="navbar-brand text-dark fw-bold text-md-center" asp-area="MenegerPanel" asp-controller="Home" asp-action="SoruSil">Soru Sil</a>
                        </li>
                        <li class="list-group-item">
                            <a class="navbar-brand text-dark fw-bold text-md-center" asp-area="MenegerPanel" asp-controller="Home" asp-action="SoruGuncelle">Soru Güncelle</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-6 border border-info">@RenderBody()</div>
        </div>

        
    </div>

</body>


</html>