
@{
    ViewData["Title"] = "AdminPanel Hoş Geldiniz";
    Layout = "~/Areas/MenegerPanel/Views/Shared/_Layout.cshtml";
}

<div class="text-capitalize text-center">
    <h1>
        Yönetim Sayfası
    </h1>
    
</div>

