@model Exam
@{
    ViewData["Title"] = "Soru Ekle";
    Layout = "~/Areas/MenegerPanel/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-area="MenegerPanel" asp-controller="Home" asp-action="SoruEkle" class="align-content-center">
    <div class="align-content-center">
        <table border="0" align="center">
            <tr>

                <td>
                    <label class="form-label text-black">Soru</label><br />
                    <input class="form-text" type="text" maxlength="255" placeholder="Soruyu Girin" asp-for="Question" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="form-label text-black">Cevap</label><br />
                    <input class="form-text" type="text" maxlength="1" placeholder="Cevap Sadece Karakter olabilir" asp-for="Answer" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="form-label text-black">A</label><br />
                    <input class="form-text" type="text" maxlength="25" placeholder="Cevap Sadece Karakter olabilir" asp-for="A" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="form-label text-black">B</label><br />
                    <input class="form-text" type="text" maxlength="255" placeholder="Cevap Sadece Karakter olabilir" asp-for="B" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="form-label text-black">C</label><br />
                    <input class="form-text" type="text" maxlength="255" placeholder="Cevap Sadece Karakter olabilir" asp-for="C" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="form-label text-black">D</label><br />
                    <input class="form-text" type="text" maxlength="255" placeholder="Cevap Sadece Karakter olabilir" asp-for="D" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-outline-success">Ekle</button>
                </td>
            </tr>
        </table>

    </div>
</form>

